.navbar li{
    list-style-type: none;
}
.navbar{
    height: 60px;
    width: 100vw;
    box-shadow: 0px 5px 5px 0px #888888;
}
.active{
    text-decoration: none;
    font-weight: bold;
}
.navbar .topHeading{
    color: black;
    position: absolute;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 5px;
}
.navbar ul{
    float: right;
    display: flex;
    flex-direction: row;
    column-gap: 35px;
    margin-right: 50px;
}
.navbarLink{
    color: #764aff;
    text-decoration: none;
}
.clicked{
    background-color: #764aff;
    color: white;
    padding: 23px;
    text-decoration: none;
}
.sports ul{
    list-style-type: none;
    line-height:2;
}